/*
  Project name(项目名称)：vue_quantity_increase_and_decrease_components 
  File name(文件名): style
  Author(作者）: mao
  Author QQ：1296193245
  GitHub：https://github.com/maomao124/
  Date(创建日期)： 2022/4/12 
  Time(创建时间)： 21:46
  Version(版本): 1.0
  Description(描述)： 无
 */


.p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

button {
    font-size: 72px;
    width: 200px;
    color: deepskyblue;
    background-color: #e7e7ff;
    border-width: 0;
}

.number {
    text-align: center;
    font-size: 72px;
    width: 200px;
    color: magenta;
    background-color: #d4ffd3;
}


body {
    background-color: #cccccc;
}